body {
  font-family: "Inter", san-serif;
  background-color: white;
}

.nft-slider {
  display: flex;
  flex-direction: column;
}

.ntf-slider header#top {
  display: flex;
  flex-direction: row;
  line-height: 24px;
}

header#top > div {
  display: inline-block;
  margin-top: 4px;
}

header#top img {
  width: 24px;
  height: auto;
}

header#top nav {
  text-align: right;
  float: right;
  margin-top: 4px;
  letter-spacing: 4px;
  font-size: 18px;
  color: #aaa;
  user-select: none;
}

header#top nav a {
  padding: 0 2px;
  cursor: pointer;
}

header#top nav a:hover {
  color: #333;
}

header#top nav .active {
  color: #333;
}


#ethAddress, #ethAddress:visited {
  vertical-align: super;
  color: inherit;
  text-decoration: none;
}

#ethAddress:hover {
  text-decoration: underline;
}

.slide {
  display: none;
  overflow-x: scroll;
}

.slide img {
  height: auto;
  width: 100%;
  min-width: 84px;
  border-radius: 6px;
}

.slide p img {
  width: 20px;
  height: 20px;
  min-width: 20px;
  border-radius: 50%;
  margin-bottom: 1px;
  vertical-align:middle;
}

.slide > div {
  background-color: #fafafa;
  margin: 0px 8px 10px;
  padding: 0.4rem;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, .2);
}

.slide > div p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.collection_title {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #707980;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.collection_title a, .collection_title a:visited {
  color: #707980;
  text-decoration: none;
}

.collection_title:hover,
.collection_title a:hover {
  color: #333;
}

.item_name {
  color: #707980;
  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.item_name a, .item_name a:visited {
  color: #707980;
  text-decoration: none;
}

.item_name:hover,
.item_name a:hover {
  color: #333;
}

#slides .active {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(4, minmax(140px, 1fr));
  /* grid-template-columns: repeat(auto-fit, minmax(140px, 1fr)); */
}

@media screen and (max-width: 416px) {
  .item_name {
    font-size: 14px;
  }
  .collection_title {
    font-size: 12px;
  }
}
