body {
  font-family: "Inter", san-serif;
  /* background-color: white; */
}

.nft-slider {
  display: flex;
  flex-direction: column;
}

.ntf-slider header {
  display: flex;
  flex-direction: row;
  line-height: 24px;
}

.nft-slider header > div {
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 8px;
}

.nft-slider header nav
{
  display: block;
  text-align: right;
  float: right;
  margin-top: 4px;
  margin-bottom: 8px;
  letter-spacing: 4px;
  font-size: 18px;
  color: #aaa;
  user-select: none;
}

.nft-slider header nav a
{
  padding: 0 2px;
  cursor: pointer;
}

.nft-slider header nav a:hover,
.nft-slider header nav .active
{
  color: #333;
}

.eth-addr,
.eth-addr:visited {
  vertical-align: super;
  color: inherit;
  text-decoration: none;
}

.eth-addr:hover {
  text-decoration: underline;
}

.eth-logo {
  width: 24px;
  height: auto;
}




.slide {
  display: none;
  /*overflow-x: scroll;*/
  grid-gap: 0px;
  grid-template-columns: repeat(4, minmax(140px, 1fr));
  /* grid-template-columns: repeat(auto-fit, minmax(140px, 1fr)); */
}

.slide p img {
  width: 20px;
  height: 20px;
  min-width: 20px;
  border-radius: 50%;
  margin-bottom: 1px;
  vertical-align: middle;
}

.slide > div {
  background-color: #fafafa;
  margin: 0rem 0.4rem 1.2rem;
  padding: 0.5rem;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, .2);
}

.slide div p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.nft-content > .active {
  display: grid;
}

.nft-card-img:before {
  content: '';
  display: block;
  width: 100%;
  padding-top: 100%;
}

.nft-card-img {
  display: block;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: #f3f3f3;
  background-size: contain; /*cover;*/
  background-repeat: no-repeat;
  background-position: center center;
}



.collection-name {
  color: #707980;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.asset-name {
  color: #707980;
  font-size: 16px;
  font-weight: 500;
  margin: -6px 0px 8px 0px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.collection-name a,
.collection-name a:visited
{
  color: #707980;
  text-decoration: none;
}

.asset-name a,
.asset-name a:visited
{
  color: #333;
  text-decoration: none;
}

.collection-name:hover,
.collection-name a:hover,
.asset-name:hover,
.asset-name a:hover
{
  color: #333;
}





@media screen and (max-width: 600px) {
  .asset-name {
    font-size: 14px;
  }
  .collection-name {
    font-size: 12px;
  }
  .slide {
    grid-template-columns: repeat(2, minmax(140px, 1fr));
    /* grid-template-columns: repeat(auto-fit, minmax(140px, 1fr)); */
  }
}
