body {
  background-color: #2c2c2f;
  color: #cecece;
}

.nft-content {
  background-color: #1c1c1f;
}

.nft-card {
  background-color: #514d56;
}

.nft-card-title,
.nft-card-title:visited
{
  color: #aaa;
}

.nft-card-subtitle,
.nft-card-subtitle:visited
{
  color: #fff !important;
}

.nft-card-title:hover,
.nft-card-subtitle:hover
{
  color: #efefef;
}

.nft-card img {
  background-color: #2c2c2f;
}
