body {
	font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.eth-addr {
	font-size: 15px;
	color: rgb(83, 100, 113);
}

.eth-logo {
	width: 22px;
}
#nft-slider-1 {
	background: #f7f9f9;
	border-top: 1px solid #efefef;
}

#nft-slider-1 header {
	padding: 0.4rem 0rem 0.6rem 0.6rem;
	padding: 12px 0px 4px 13px;
}

.made-by {
	margin: 0px;
	padding: 8px 0px 8px 16px;
	background: white;
}

.made-by a, .made-by a:visited {
	margin: 0px;
	padding: 0px;
}

.nft-card-title, .nft-card-title:visited {
	font-size: 12px;
    letter-spacing: 0.4px;
}

.nft-card-subtitle, .nft-card-subtitle:visited {
	font-size: 15px;
	letter-spacing: 0px;
	color: #000000 !important;
}