body {
  font-family: "Inter", san-serif;
  background-color: white;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container > div {
  background-color: #fafafa;
  width: 184px;
  margin: 0px 8px;
  text-align: left;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, .2);
  border-radius: 8px;
  padding-bottom: 12px;
}

.flex-container > div > p {
  margin: 4px 8px 4px 8px;
}

.flex-container > div > img {
  width: 168px;
  margin: 8px;
  border-radius: 6px;
}

#top, section, nav, #slides {
  max-width: 800px;
  margin: 0 auto;
}

#top {
  margin-bottom: 4px;
}

section, #slides {
  display: block;
}

section img {
  width: 24px;
}

#ethAddress, #ethAddress:visited {
  vertical-align: super;
  color: inherit;
  text-decoration: none;
}

#ethAddress:hover {
  text-decoration: underline;
}

.collection_title {
  font-size: 14px;
  vertical-align: super;
  padding-left: 8px;
  overflow: hidden;
  font-weight: 500;
}

.collection_title, .collection_title:visited {
  color: #707980;
  text-decoration: none;
}

.item_name {
  font-size: 16px;
  overflow: hidden;
  font-weight: 500;
  padding-bottom: 8px;
}

.item_name, .item_name:visited {
  color: #333;
  text-decoration: none;
}

#slides .slide {
  display: none;
}

#slides .active {
  display: flex;
}

section, nav {
  position: relative;
  display: inline;
}

p > img {
  width: 20px;
  border-radius: 50px;
  margin-bottom: 1px;
}

nav {
  text-align: right;
  float: right;
  margin-top: 4px;
  letter-spacing: 4px;
  font-size: 18px;
  color: #aaa;
}

nav a {
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

#btn-prev {
  margin-right: 8px;
}

#btn-next {
  margin-left: 8px;
}

nav .active {
  color: #333;
}

@media screen and (max-width: 815px) {
  #top, section, nav, #slides {
    max-width: 616px;
  }
  .flex-container > div {
    margin: 8px;
  }
}

@media screen and (max-width: 616px) {
  #top, section, nav, #slides {
    max-width: 416px;
  }
}

@media screen and (max-width: 416px) {
  #top, section, nav, #slides {
    max-width: 359px;
  }
  .flex-container > div {
    width: 163px;
  }
  .flex-container > div > img {
    width: 147px;
  }
  .item_name {
    font-size: 14px;
  }
  .collection_title {
    font-size: 12px;
  }
}
